@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari:wght@400;500;600;700&display=swap');

.font-hindi {
  font-family: 'Noto Sans Devanagari', sans-serif;
}

.aspect-a4 {
  aspect-ratio: 210 / 297;
}
